<?xml version="1.0" encoding="UTF-8" ?>

<config xmlns="http://thelia.net/schema/dic/config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">

    <loops>
        <!-- sample definition
        <loop name="MySuperLoop" class="PaymentRecall\Loop\MySuperLoop" />
        -->
        <loop name="paymentrecall.module" class="PaymentRecall\Loop\PaymentRecallModuleLoop" />
        <loop name="paymentrecall.order" class="PaymentRecall\Loop\PaymentRecallOrderLoop" />
    </loops>

    <forms>
        <!--
        <form name="MyFormName" class="PaymentRecall\Form\MySuperForm" />
        -->
        <form name="paymentrecall_configuration" class="PaymentRecall\Form\ConfigurationForm" />
        <form name="paymentrecall_manual_send_recall" class="PaymentRecall\Form\ManualSendRecallForm" />
    </forms>

    <!--<commands>
        <command class="PaymentRecall\Command\CronSendMail" />
    </commands>-->

    <!--<services>
        <service id="paymentrecall.order" class="PaymentRecall\EventListeners\OrderListener" scope="request">
            <argument type="service" id="request"/>
            <tag name="kernel.event_subscriber"/>
        </service>

        <service id="paymentrecall.recall" class="PaymentRecall\EventListeners\PaymentRecallListener" scope="request">
            <argument type="service" id="thelia.parser" />
            <argument type="service" id="mailer"/>
            <tag name="kernel.event_subscriber"/>
        </service>
    </services>-->



    <hooks>
        <hook id="paymentrecall.hook" class="PaymentRecall\Hook\BackHook" scope="request">
            <tag name="hook.event_listener" event="module.configuration" type="back" templates="render:module_configuration.html" />
            <tag name="hook.event_listener" event="module.config-js" type="back" method="onModuleConfigJs" />
            <tag name="hook.event_listener" event="order.tab-content" type="back" method="onOrderEdit" />
        </hook>
    </hooks>


    <!--
    <exports>

    </exports>
    -->

    <!--
    <imports>

    </imports>
    -->
</config>
